.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cccccc;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;

  &:visited,
  &:link {
    color: #cccccc;
  }

  img {
    height: 24px;
    margin-right: 10px;
  }
}
